{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}


<!--homepage-->
<style>
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  body {
    background-color: #e9edc9;
  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  #centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white;
    background-color: white;
    border-radius: 10%;
   
  }
  </style>
<div class="text-center">
  <h3 style="margin-top: 3rem; color: black; font-family: 'Gluten', cursive;
  font-family: 'Kalam', cursive;">PhotoMania ~ Get to feel how photography can change our perception into things</h3>
</div>
  <div class="container" style="margin-top: 7rem; margin-bottom: 7rem;">
    <img src="https://images.unsplash.com/photo-1637448096758-95360e65e72f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIyfHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Snow" style="width:100%;">
<a href="{% url 'gallery:gallery' %}" id="centered">View<i class="fas fa-eye"></i></a>
  </div><br><br><br>
  
{% endblock %}